/*#region Primary Colors: Aspen Blue*/

// NOTE: primary-38 was actually calculated as 75% of primary-50.
// It was created by the UX team specifically for the color used for the body/html background for now.
$primary-38: #F1F8FE;

$primary-50: #EBF5FE;
$primary-100: #D7EAFD;
$primary-200: #B6D8FB;
$primary-300: #8DC2F8;
$primary-400: #62ACF5;
$primary-500: #3593F3;
$primary-600: #0C6BCA;
$primary-700: #0A5BAC;
$primary-800: #094B8F;
$primary-900: #063767;

$primary-A200: #298DF2;
$primary-A400: #0E7CEB;
/*#endregion Primary Colors: Aspen Blue*/
/*#region Secondary Colors: Boulder Yellow*/
$secondary-50: #FDF4DC;
$secondary-100: #FAE7B1;
$secondary-200: #F6D16B;
$secondary-300: #D49F0D;
$secondary-400: #B88A0B;
$secondary-500: #9F780A;
$secondary-600: #886708;
$secondary-700: #735707;
$secondary-800: #604906;
$secondary-900: #463404;

$secondary-A200: #F2BD29;
$secondary-A400: #F0B510;
/*#endregion Secondary Colors: Boulder Yellow*/
/*#region Tertiary Colors: Canyon Orange*/
$tertiary-50: #FEF1EE;
$tertiary-100: #FDE2DA;
$tertiary-200: #FBC9BB;
$tertiary-300: #F8AC95;
$tertiary-400: #F58A6A;
$tertiary-500: #F2643A;
$tertiary-600: #C6380D;
$tertiary-700: #A82F0B;
$tertiary-800: #8E2809;
$tertiary-900: #671D07;

$tertiary-A200: #F1582A;
$tertiary-A400: #E6410F;
/*#endregion Tertiary Colors: Canyon Orange*/
/*#region Neutral Colors: Warm Grey*/
$neutral-50: #F5F4F4;
$neutral-100: #E8E7E6;
$neutral-200: #D7D4D3;
$neutral-300: #C2BDBC;
$neutral-400: #97908E;
$neutral-500: #847B7A;
$neutral-600: #716A68;
$neutral-700: #605A58;
$neutral-800: #504B49;
$neutral-900: #393635;

$neutral-A200: #BBB6B5;
$neutral-A400: #ACA6A5;

$white: #FFFFFF;
